# **CIS 250 Final Project**

## **General setup of the tables on the database.**

In [46]:
--attendees table
CREATE TABLE fp_attendees (
    atendeeID INT IDENTITY(1,1) PRIMARY KEY,
    firstName VARCHAR(100) NOT NULL,
    lastName VARCHAR(100) NOT NULL,
    email VARCHAR(255) UNIQUE NOT NULL,
    phone VARCHAR(15) UNIQUE NOT NULL,
    address TEXT NOT NULL,
    registrationDate DATE NOT NULL,
    company VARCHAR(255),
    jobTitle VARCHAR(255),
    ticketType VARCHAR(20) CHECK (ticketType IN ('General', 'VIP', 'Student')) NOT NULL
);

--speakers table
CREATE TABLE fp_speakers (
    speakerID INT IDENTITY(1,1) PRIMARY KEY,
    firstName VARCHAR(100) NOT NULL,
    lastName VARCHAR(100) NOT NULL,
    email VARCHAR(255) UNIQUE NOT NULL,
    phone VARCHAR(15) UNIQUE NOT NULL,
    jobTitle VARCHAR(255),
    company VARCHAR(255)
);

--rooms table
CREATE TABLE fp_rooms (
    roomID INT IDENTITY(1,1) PRIMARY KEY,
    roomNumber VARCHAR(10) NOT NULL,
    capacity INT NOT NULL
);

--topics table
CREATE TABLE fp_topics (
    topicID INT IDENTITY(1,1) PRIMARY KEY,
    name VARCHAR(255) NOT NULL
);

--sessions table
CREATE TABLE fp_sessions (
    sessionID INT IDENTITY(1,1) PRIMARY KEY,
    title VARCHAR(255) UNIQUE NOT NULL,
    description TEXT NOT NULL,
    startTime DATETIME NOT NULL,
    endTime DATETIME NOT NULL,
    roomID INT NOT NULL,
    topicID INT NOT NULL,
    FOREIGN KEY (roomID) REFERENCES fp_rooms (roomID),
    FOREIGN KEY (topicID) REFERENCES fp_topics (topicID)
);

--sesion attendance table
CREATE TABLE fp_attendance (
    attendanceID INT IDENTITY(1,1) PRIMARY KEY,
    sessionID INT NOT NULL,
    atendeeID INT NOT NULL,
    FOREIGN KEY (sessionID) REFERENCES fp_sessions (sessionID),
    FOREIGN KEY (atendeeID) REFERENCES fp_attendees (atendeeID)
);

--session feedback table
CREATE TABLE fp_feedback (
    feedbackID INT IDENTITY(1,1) PRIMARY KEY,
    sessionID INT NOT NULL,
    atendeeID INT NOT NULL,
    rating INT CHECK (rating BETWEEN 1 AND 5),
    FOREIGN KEY (sessionID) REFERENCES fp_sessions (sessionID),
    FOREIGN KEY (atendeeID) REFERENCES fp_attendees (atendeeID)
);

--session speakers table
CREATE TABLE fp_sessionSpeakers (
    sessionID INT NOT NULL,
    speakerID INT NOT NULL,
    PRIMARY KEY (sessionID, speakerID),
    FOREIGN KEY (sessionID) REFERENCES fp_sessions (sessionID),
    FOREIGN KEY (speakerID) REFERENCES fp_speakers (speakerID)
);

--audit log table
CREATE TABLE fp_audit (
    audit_id INT IDENTITY(1,1) PRIMARY KEY,
    operationType VARCHAR(10) CHECK (operationType IN ('INSERT', 'UPDATE', 'DELETE')) NOT NULL,
    tableName VARCHAR(255) NOT NULL,
    operationTime DATETIME DEFAULT GETDATE(),
    oldData NVARCHAR(MAX),
    newData NVARCHAR(MAX)
);

## **Insert Attendees:**

In [48]:
INSERT INTO fp_attendees 
(firstName, lastName, email, phone, address, registrationDate, company, jobTitle, ticketType)
VALUES
('Alice', 'Johnson', 'alice.johnson@example.com', '1234567890', '123 Main St', '2024-01-01', 'Tech Corp', 'Developer', 'VIP'),
('Bob', 'Smith', 'bob.smith@example.com', '1234567891', '456 Oak St', '2024-01-02', 'Innovate Inc.', 'Manager', 'General'),
('Charlie', 'Brown', 'charlie.brown@example.com', '1234567892', '789 Pine St', '2024-01-03', 'GameWorks', 'Artist', 'Student'),
('Diana', 'Prince', 'diana.prince@example.com', '1234567893', '101 Maple St', '2024-01-04', 'Amazon', 'HR Specialist', 'VIP'),
('Eve', 'Taylor', 'eve.taylor@example.com', '1234567894', '202 Elm St', '2024-01-05', 'Tech Innovators', 'Engineer', 'Student'),
('Frank', 'Harris', 'frank.harris@example.com', '1234567895', '303 Birch St', '2024-01-06', 'DataWorks', 'Data Analyst', 'General'),
('Grace', 'Lee', 'grace.lee@example.com', '1234567896', '404 Cedar St', '2024-01-07', 'Creative Minds', 'Designer', 'VIP'),
('Henry', 'Clark', 'henry.clark@example.com', '1234567897', '505 Spruce St', '2024-01-08', 'Future Vision', 'Consultant', 'General'),
('Isabella', 'Martinez', 'isabella.martinez@example.com', '1234567898', '606 Willow St', '2024-01-09', 'NextGen Solutions', 'Marketer', 'Student'),
('Jack', 'Wilson', 'jack.wilson@example.com', '1234567899', '707 Aspen St', '2024-01-10', 'Tech Innovators', 'Project Manager', 'VIP'),
('Karen', 'Adams', 'karen.adams@example.com', '1234567810', '808 Sycamore St', '2024-01-11', 'BuildBetter', 'Architect', 'General'),
('Liam', 'Anderson', 'liam.anderson@example.com', '1234567811', '909 Fir St', '2024-01-12', 'PlanIt', 'Planner', 'Student'),
('Mia', 'Davis', 'mia.davis@example.com', '1234567812', '1010 Cypress St', '2024-01-13', 'Skyline', 'Urban Designer', 'VIP'),
('Nathan', 'Evans', 'nathan.evans@example.com', '1234567813', '1111 Maple Ave', '2024-01-14', 'EcoWorld', 'Environmentalist', 'General'),
('Olivia', 'Garcia', 'olivia.garcia@example.com', '1234567814', '1212 Chestnut Ave', '2024-01-15', 'GrowGreen', 'Agronomist', 'Student'),
('Paul', 'Hernandez', 'paul.hernandez@example.com', '1234567815', '1313 Magnolia Ln', '2024-01-16', 'AgriTech', 'Biologist', 'General'),
('Quinn', 'King', 'quinn.king@example.com', '1234567816', '1414 Redwood Dr', '2024-01-17', 'Redwood', 'Forester', 'VIP'),
('Rachel', 'Lopez', 'rachel.lopez@example.com', '1234567817', '1515 Oak Ln', '2024-01-18', 'UrbanBuild', 'Engineer', 'Student'),
('Samuel', 'Moore', 'samuel.moore@example.com', '1234567818', '1616 Birch Blvd', '2024-01-19', 'BuildIt', 'Construction Manager', 'General'),
('Taylor', 'Nelson', 'taylor.nelson@example.com', '1234567819', '1717 Pine St', '2024-01-20', 'Tech Futures', 'Software Engineer', 'VIP');

## **Insert sessions:**

In [31]:
INSERT INTO fp_sessions 
(title, description, startTime, endTime, roomID, topicID)
VALUES
('Intro to AI', 'Exploring basics of artificial intelligence.', '2024-03-01 10:00:00', '2024-03-01 11:00:00', 1, 1),
('Cloud Computing', 'Learn about cloud platforms and solutions.', '2024-03-01 12:00:00', '2024-03-01 13:30:00', 2, 2),
('Game Design Fundamentals', 'An introduction to game design principles.', '2024-03-01 14:00:00', '2024-03-01 15:30:00', 3, 3),
('Data Science 101', 'Getting started with data analysis.', '2024-03-01 16:00:00', '2024-03-01 17:00:00', 4, 4),
('Building a Startup', 'Essential skills for entrepreneurs.', '2024-03-02 10:00:00', '2024-03-02 11:30:00', 5, 5),
('Cybersecurity Trends', 'Protecting against modern threats.', '2024-03-02 12:00:00', '2024-03-02 13:30:00', 6, 6),
('Virtual Reality Workshop', 'Hands-on VR experience.', '2024-03-02 14:00:00', '2024-03-02 15:30:00', 7, 7),
('Advanced SQL Techniques', 'Boost your SQL skills.', '2024-03-02 16:00:00', '2024-03-02 17:30:00', 8, 8);

: Msg 547, Level 16, State 0, Line 12
The INSERT statement conflicted with the FOREIGN KEY constraint "FK__fp_sessio__topic__664B26CC". The conflict occurred in database "master", table "dbo.fp_topics", column 'topicID'.

## **Creating views:**

In [33]:
-- attendee info

CREATE VIEW fp_view_attendee_contact AS
SELECT 
    atendeeID,
    firstName,
    lastName,
    email,
    phone,
    address,
    registrationDate,
    company,
    jobTitle,
    ticketType
FROM fp_attendees;

: Msg 2714, Level 16, State 3, Procedure fp_view_attendee_contact, Line 4
There is already an object named 'fp_view_attendee_contact' in the database.

In [34]:
-- ticket type counts
CREATE VIEW fp_view_ticket_counts AS
SELECT 
    ticketType,
    COUNT(*) AS ticketCount
FROM fp_attendees
GROUP BY ticketType;

: Msg 2714, Level 16, State 3, Procedure fp_view_ticket_counts, Line 4
There is already an object named 'fp_view_ticket_counts' in the database.

In [35]:
-- #session attendance counts

CREATE VIEW fp_view_session_attendance AS
SELECT 
    s.sessionID,
    s.title AS sessionTitle,
    COUNT(a.atendeeID) AS attendeeCount
FROM fp_sessions s
LEFT JOIN fp_attendance a ON s.sessionID = a.sessionID
GROUP BY s.sessionID, s.title;

: Msg 2714, Level 16, State 3, Procedure fp_view_session_attendance, Line 4
There is already an object named 'fp_view_session_attendance' in the database.

In [36]:
-- session feedback

CREATE VIEW fp_view_session_feedback AS
SELECT 
    f.sessionID,
    s.title AS sessionTitle,
    f.atendeeID,
    f.rating
FROM fp_feedback f
JOIN fp_sessions s ON f.sessionID = s.sessionID;

: Msg 2714, Level 16, State 3, Procedure fp_view_session_feedback, Line 4
There is already an object named 'fp_view_session_feedback' in the database.

In [37]:
-- attendees by topic

CREATE VIEW fp_view_attendees_by_topic AS
SELECT 
    t.name AS topicName,
    COUNT(DISTINCT a.atendeeID) AS attendeeCount
FROM fp_topics t
JOIN fp_sessions s ON t.topicID = s.topicID
JOIN fp_attendance a ON s.sessionID = a.sessionID
GROUP BY t.name;

: Msg 2714, Level 16, State 3, Procedure fp_view_attendees_by_topic, Line 4
There is already an object named 'fp_view_attendees_by_topic' in the database.

In [38]:
-- occupancy by attendance

CREATE VIEW fp_view_session_occupancy AS
SELECT 
    s.sessionID,
    s.title AS sessionTitle,
    r.roomNumber,
    r.capacity,
    COUNT(a.atendeeID) AS attendeeCount,
    CAST(COUNT(a.atendeeID) AS FLOAT) / r.capacity AS occupancyPercentage
FROM fp_sessions s
JOIN fp_rooms r ON s.roomID = r.roomID
LEFT JOIN fp_attendance a ON s.sessionID = a.sessionID
GROUP BY s.sessionID, s.title, r.roomNumber, r.capacity;

: Msg 2714, Level 16, State 3, Procedure fp_view_session_occupancy, Line 4
There is already an object named 'fp_view_session_occupancy' in the database.

## **Procedures:**

In [39]:
-- contact info by session

CREATE PROCEDURE fp_get_attendee_contact_by_session
    @SessionID INT
AS
BEGIN
    SELECT 
        a.atendeeID,
        a.firstName,
        a.lastName,
        a.email,
        a.phone,
        a.company,
        a.jobTitle,
        a.ticketType
    FROM fp_attendance att
    JOIN fp_attendees a ON att.atendeeID = a.atendeeID
    WHERE att.sessionID = @SessionID;
END;

In [40]:
-- speaker's total attendee

CREATE PROCEDURE fp_get_total_attendees_by_speaker
    @SpeakerID INT
AS
BEGIN
    SELECT 
        sp.speakerID,
        sp.firstName,
        sp.lastName,
        COUNT(DISTINCT att.atendeeID) AS totalAttendees
    FROM fp_sessionSpeakers ss
    JOIN fp_sessions s ON ss.sessionID = s.sessionID
    JOIN fp_attendance att ON s.sessionID = att.sessionID
    JOIN fp_speakers sp ON ss.speakerID = sp.speakerID
    WHERE ss.speakerID = @SpeakerID
    GROUP BY sp.speakerID, sp.firstName, sp.lastName;
END;

In [41]:
-- sessions by topic

CREATE PROCEDURE fp_get_sessions_by_topic
    @TopicID INT
AS
BEGIN
    SELECT 
        s.sessionID,
        s.title AS sessionTitle,
        s.description,
        s.startTime,
        s.endTime,
        sp.speakerID,
        sp.firstName AS speakerFirstName,
        sp.lastName AS speakerLastName
    FROM fp_topics t
    JOIN fp_sessions s ON t.topicID = s.topicID
    JOIN fp_sessionSpeakers ss ON s.sessionID = ss.sessionID
    JOIN fp_speakers sp ON ss.speakerID = sp.speakerID
    WHERE t.topicID = @TopicID;
END;

## **Triggers:**

In [45]:
CREATE OR ALTER TRIGGER fp_audit_sessions
ON fp_sessions
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @operationType NVARCHAR(10);
    DECLARE @tableName NVARCHAR(255) = 'fp_sessions';
    DECLARE @oldData NVARCHAR(MAX);
    DECLARE @newData NVARCHAR(MAX);

    --handle insert opeations
    IF EXISTS (SELECT 1 FROM inserted) AND NOT EXISTS (SELECT 1 FROM deleted)
    BEGIN
        SET @operationType = 'INSERT';
        SELECT @newData = (SELECT * FROM inserted FOR JSON AUTO);
    END
    --handle delete operations
    ELSE IF NOT EXISTS (SELECT 1 FROM inserted) AND EXISTS (SELECT 1 FROM deleted)
    BEGIN
        SET @operationType = 'DELETE';
        SELECT @oldData = (SELECT * FROM deleted FOR JSON AUTO);
    END
    --handle update operations
    ELSE IF EXISTS (SELECT 1 FROM inserted) AND EXISTS (SELECT 1 FROM deleted)
    BEGIN
        SET @operationType = 'UPDATE';
        SELECT @oldData = (SELECT * FROM deleted FOR JSON AUTO);
        SELECT @newData = (SELECT * FROM inserted FOR JSON AUTO);
    END

    --insert into audit table
    INSERT INTO fp_audit (operationType, tableName, oldData, newData)
    VALUES (@operationType, @tableName, @oldData, @newData);
END;

: Msg 8197, Level 16, State 4, Procedure fp_audit_sessions, Line 1
The object 'fp_sessions' does not exist or is invalid for this operation.

## **Code box for testing:**

## **Full reset of everything.**

In [44]:
DROP TABLE IF EXISTS fp_feedback;
DROP TABLE IF EXISTS fp_attendance;
DROP TABLE IF EXISTS fp_sessionSpeakers;
DROP TABLE IF EXISTS fp_sessions;
DROP TABLE IF EXISTS fp_rooms;
DROP TABLE IF EXISTS fp_topics;
DROP TABLE IF EXISTS fp_speakers;
DROP TABLE IF EXISTS fp_attendees;
DROP TABLE IF EXISTS fp_audit;